:root {
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet : hsl(271, 15%, 43%);
    --Grayish-Blue-placeholder-text: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet-main-heading: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet-paragraph: hsl(270, 7%, 64%);
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
}