.error {
    background-image: url('../images/base-apparel/icon-error.svg');
    background-position: 70%;
    background-repeat: no-repeat;
    right: 1.25rem;
    width: 100%;
    /* border: red; */
    padding: 1rem;
    border-radius: 9999px;
     
}
.error-msg {
    font-size: smaller; 
    color: red;
    margin-left: 1.25rem;
    margin-top: 2px;
}
.success {
    border: 1px solid green;
}