<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | [Challenge Name Here]</title>

  <link rel="stylesheet" href="css/styles.css">
  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
  
  <script type="tailwind-config">
    {
      theme: {
        extend: {
          colors: {
            'paleViolet': 'hsl(276, 100%, 81%)',
            'modViolet': 'hsl(276, 55%, 52%)',
            'dsDarkViolet': 'hsl(271, 15%, 43%)',
            'grayBlue': 'hsl(206, 6%, 79%)',
            'vDarkDsViolet': 'hsl(271, 36%, 24%)',
            'DarkGrayViolet': 'hsl(270, 7%, 64%)',
            'lightMagenta': 'hsl(293, 100%, 63%)',
            'lightViolet': 'hsl(264, 100%, 61%)',
            'lightGrayViolet': 'hsl(270, 20%, 96%)',
            'vLightMagenta': 'hsl(289, 100%, 72%)'
          },
          fontSize: {
            'xxs' : '0.5rem',
            'small': '0.60rem',
          },  
        }
      }
    }
  </script>
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Rubik', sans-serif;">
  <div class="w-full mx-auto h-screen relative bg-gray-50 grid">
    <div class="absolute left-0 top-0 w-1/2 h-1/2 md:w-1/4 md:h-5/6 bg-gradient-to-b from-lightMagenta to-lightViolet rounded-br-full md:rounded-bl"></div>

    <div class="absolute right-0 bottom-0 w-1/2 h-1/2 md:w-1/4 md:h-5/6 bg-lightGrayViolet z-0 rounded-tl-full"></div>

    <div class="grid md:grid-cols-2 items-center">
        <!-- mobile design  -->
        <div class="pt-20 relative md:justify-self-center">
            <div class="relative bg-white shadow-2xl w-[270px] h-[550px] mx-auto rounded-[30px] overflow-hidden border-[10px] border-white">
            <div class="absolute inset-0 h-full w-full object-cover bg-gray-100 mx-auto"></div>
            
            <!-- notch for camera  -->
            <div class="absolute inset-x-0 top-0 z-10">
                <div class="h-4 w-32 bg-white mx-auto rounded-br-3xl rounded-bl-3xl"></div>
            </div>
    
            <!-- header section of chat  -->
            <div class="absolute inset-x-0 top-0 w-full h-20 bg-gradient-to-l from-lightMagenta to-lightViolet flex justify-center items-center rounded-b z-10 ">
                <div class="flex justify-between items-center px-2 w-full mt-3 text-white">
                <div class="flex justify-center items-center gap-1">
                    <!-- chevron  -->
                    <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="text-paleViolet h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                    </div>
                    <!-- profile  -->
                    <div class="flex justify-center items-center">
                    <img class="h-6 w-6 rounded-full border border-white" src="../images/chat/avatar.jpg" alt="">
                    <div class="flex flex-col justify-start items-start ml-2">
                        <h2 class="font-medium text-lightGrayViolet text-xs">Samuel Green</h2>
                        <p class="text-paleViolet text-xxs">Available to Walk</p>
                    </div>
                    </div>
                </div>
                
                <!-- 3 dots button  -->
                <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                    </svg>
                </div>
                </div>
            </div>
    
            <!-- chat section  -->
            <div class="relative h-full pt-20 pb-12 w-full p-2 bg-gray-100 flex flex-col justify-between">
                <!-- left chat  -->
                <div class="flex">
                <div class="text-modViolet bg-gray-200 text-xxs rounded-t-xl rounded-br-xl rounded-bl mt-2 py-1 px-2 w-3/5 tracking-wide">
                    <p>That sounds great. I’d be happy with that.</p>
                </div>
                </div>
                <!-- left chat  -->
                <div class="flex">
                <div class="text-modViolet bg-gray-200 text-xxs rounded-t-xl rounded-br-xl rounded-bl py-1 px-2 w-3/5 tracking-wide">
                    <p>Could you send over some pictures of your dog, please?</p>
                </div>
                </div>
    
                <!-- right chat  -->
                <div class="flex justify-end items-center gap-2">
                <img class="w-10 h-10 rounded-xl" src="../images/chat/dog-image-1.jpg" alt="">
                <img class="w-10 h-10 rounded-xl" src="../images/chat/dog-image-2.jpg" alt="">
                <img class="w-10 h-10 rounded-xl" src="../images/chat/dog-image-3.jpg" alt="">
                </div>
                
                <!-- right chat  -->
                <div class="flex justify-end items-center bg-white text-xxs py-1 px-2 rounded-t-xl rounded-bl-xl rounded-br w-3/5 ml-auto text-gray-500">Here are a few pictures. She’s a happy girl!</div>
                <div class="flex justify-end items-center bg-white text-xxs py-1 px-2 rounded-t-xl rounded-bl-xl rounded-br w-2/5 ml-auto text-gray-500">Can you make it?</div>
    
                <!-- left chat  -->
                <div class="flex">
                <div class="text-modViolet bg-gray-200 text-xxs rounded-t-xl rounded-br-xl rounded-bl py-1 px-2 w-3/5">
                    <p>She looks so happy! The time we discussed works. How long shall I take her out for?</p>
                </div>
                </div>
    
                <!-- left chat  -->
                
                <div>
                <div class="flex justify-start items-center ">
                    <div class="bg-gradient-to-r from-lightMagenta to-lightViolet w-3/5 rounded-t-xl rounded-br-xl rounded-bl flex justify-center items-center p-2">
                    <div class="w-3 h-3 rounded-full border border-vLightMagenta"></div>
                    <p class="text-xxs text-paleViolet ml-2"> 30 minute walk</p>
                    <h3 class="text-gray-100 font-medium ml-5 text-sm">$29</h3>  
                    </div>
                </div>
                </div>
                
                <!-- left chat  -->
                <div class="flex justify-start items-center ">
                <div class="bg-gradient-to-r from-lightMagenta to-lightViolet w-3/5 rounded-t-xl rounded-br-xl rounded-bl flex justify-center items-center p-2">
                    <div class="w-3 h-3 rounded-full border border-vLightMagenta"></div>
                    <p class="text-xxs text-paleViolet ml-2"> 1 hour walk</p>
                    <h3 class="text-gray-100 font-medium ml-5 text-sm">$49</h3>  
                </div>  
                </div>
                
                
                
            </div>
    
            <!-- typing area  -->
            <div class="absolute bottom-0 my-2 mx-auto w-full px-2">
                <div class="bg-white rounded-2xl flex justify-between items-center mt-3 py-1">
                    <p class="text-small pl-3 text-grayBlue">Type a message...</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                    </svg>
                </div>
                </div>
            </div>
        </div>
        
        <div class="text-center px-6 leading-8 tracking-wide relative md:justify-self-center md:text-left md:max-w-md max-w-sm mx-auto">
            <h1 class="text-4xl text-vDarkDsViolet tracking-wide font-medium">Simple booking</h1>
            <p class="text-DarkGrayViolet texl-lg mt-8 md:mt-5">Stay in touch with our dog walkers through the chat interface. This makes it easy to 
            discuss arrangements and make bookings. Once the walk has been completed you can rate 
            your walker and book again all through the chat.</p>
        </div>
    </div>
    

  </div>
</body>
</html>