<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  
  <title>Frontend Mentor | Sunnyside agency landing page</title>

  <link rel="stylesheet" href="css/styles.css">

  <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="../images/sunnyside/"> -->

  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&family=Fraunces:wght@700&display=swap" rel="stylesheet">
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body class="">
  <div class=" max-w-lg mx-auto gap-0 md:max-w-full ">
    
    <div class="text-gray-50 w-full relative" >
      <div class=" absolute w-full">
        <nav
          x-data="{ isOpen : false}"
          class="relative flex justify-between items-center px-5 pt-10">
          <h1
            class="text-4xl" 
            style="font-family: Fraunces;">sunnyside
          </h1>

          <button
            class="p-2 hover:bg-blue-400 rounded md:hidden" 
            @click="isOpen = !isOpen">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>

          <!-- mobile menu dropdown  -->
          <div 
            x-show="isOpen"
            @click.outside.window = "isOpen = false"
            class="absolute inset-x-0 top-36 space-y-12 bg-white text-black w-11/12 mx-auto py-5 flex flex-col justify-center items-center">
            <button class="text-xl font-semibold px-6 py-4 focus:bg-yellow-500 rounded-full">About</button>
            <button class="text-xl font-semibold px-6 py-4 focus:bg-yellow-500 rounded-full">Services</button>
            <button class="text-xl font-semibold px-6 py-4 focus:bg-yellow-500 rounded-full">Projects</button>
            <button class="text-xl font-semibold px-6 py-4 focus:bg-yellow-500 rounded-full">Contacts</button>
          </div>

          <!-- desktop menu  -->
          <div 
            class="hidden md:flex justify-center items-center">
            <button class="text-xl font-semibold px-6 py-4 hover:bg-white hover:text-gray-700 focus:bg-yellow-500 rounded-full">About</button>
            <button class="text-xl font-semibold px-6 py-4 hover:bg-white hover:text-gray-700 focus:bg-yellow-500 rounded-full">Services</button>
            <button class="text-xl font-semibold px-6 py-4 hover:bg-white hover:text-gray-700 focus:bg-yellow-500 rounded-full">Projects</button>
            <button class="text-xl font-semibold px-6 py-4 hover:bg-white hover:text-gray-700 focus:bg-yellow-500 rounded-full">Contacts</button>
          </div>
    
          
        </nav>
        <div class="grid justify-items-center mt-20 md:mt-10">
          <h2 class="text-5xl mt-12 md:mt-5 leading-snug tracking-widest text-center font-bold" style="font-family: Fraunces;">WE ARE CREATIVES</h2>
          <svg 
            class="mt-24 md:mt-10"
            width="36" 
            height="114" 
            xmlns="http://www.w3.org/2000/svg"><g stroke="#FFF" stroke-width="6" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path d="M18 3v100M3 95.484l15 15 15-15"/></g></svg>
        </div>
      
      </div>
      <img
        class="w-auto h-auto md:hidden" 
        src="../images/sunnyside/mobile/image-header.jpg" 
        alt="">
      
      <img
        class="hidden md:flex" 
        src="../images/sunnyside/desktop/image-header.jpg" 
        alt="">  
        
    </div>

    <div class="md:grid md:grid-cols-2 md:w-full md:justify-items-center">
        <!-- egg photo  -->
      <div class="w-full" >
        <!-- image for mobile device  -->
        <img
          class="w-full h-full md:hidden" 
          src="../images/sunnyside/mobile/image-transform.jpg" alt="">
        <!-- image for desktop  -->
        <img
          class="hidden md:flex w-full h-full" 
          src="../images/sunnyside/desktop/image-transform.jpg" alt="">
      </div>

      <!-- text  -->
      <div class="text-center md:text-left py-10  max-w-lg tracking-wider px-5 md:order-first" >
        <h2 class="text-5xl font-bold mt-16 md:text-4xl" 
          style="font-family: Fraunces;">
          Transform your brand
        </h2>
        <p class="mt-10 text-xl text-gray-700 mx-auto">
          We are a full-service creative agency specializing in helping brands grow fast. 
          Engage your clients through compelling visuals that do most of the marketing for you.</p>
        <div class="mt-5 font-bold uppercase border-b-8 border-yellow-500 inline-block rounded">
          <a href="#">Learn more</a>
        </div>  
      </div>

      <!-- cup photo  -->
      <div class="w-full" >
        <!-- image for mobile device  -->
        <img
          class="w-full h-full md:hidden" 
          src="../images/sunnyside/mobile/image-stand-out.jpg" alt="">

        <!-- image for desktop screen    -->
        <img 
          class="hidden md:flex w-full h-full"
          src="../images/sunnyside/desktop/image-stand-out.jpg" alt="">
      </div>

      <!-- text  -->
      <div class="text-center md:text-left max-w-lg py-10  tracking-wider px-5" >
        <h2 
          class="text-5xl font-bold mt-16 md:text-4xl" 
          style="font-family: Fraunces;">
          Stand out to the right audience 
        </h2>
        <p class="mt-10 text-xl text-gray-700 mx-auto">
          Using a collaborative formula of designers, 
          researchers, photographers, videographers, and copywriters, 
          we’ll build and extend your brand in digital places. </p>
        <div class="mt-5 font-bold uppercase border-b-8 border-red-500 inline-block rounded">
          <a href="#">Learn more</a>
        </div>      
      </div>

      <!-- cherries photo  -->
      <div class="w-full" >
        <div class=" relative">
          <div class="absolute max-w-sm mx-auto text-center inset-x-0 bottom-0">
            <h2 
              class="mb-10 text-4xl font-bold tracking-wide" 
              style="font-family: Fraunces;">Graphic design
            </h2>
            <p 
              class="mb-10 leading-9 text-xl md:text-lg text-gray-700 font-semibold tracking-tight"> 
              Great design makes you memorable. 
              We deliver artwork that underscores your brand message and captures potential clients’ attention.
            </p>
          </div>
          <div class="">
            <!-- image for mobile screen  -->
            <img
            class="w-full h-full object-cover md:hidden" 
            src="../images/sunnyside/mobile/image-graphic-design.jpg" alt="">
  
            <!-- image for desktop screen  -->
            <img
              class="hidden md:flex w-full" 
              src="../images/sunnyside/desktop/image-graphic-design.jpg" alt="">
          </div>
        </div>
        
      </div>

      <!-- orange photo  -->
      <div class="w-full">
        <div class="relative">
          <div class="absolute inset-x-0 bottom-0 max-w-sm mx-auto text-center">
            <h2 
              class="mb-10 text-4xl font-bold tracking-wide" 
              style="font-family: Fraunces;">Photography
            </h2>
              <p 
              class="mb-10 leading-9 text-xl md:text-lg text-gray-700 font-semibold tracking-tight">
              Increase your credibility by getting the most stunning, high-quality photos that improve your business image.
            </p>
          </div>
          <!-- image for mobile screen  -->
          <img
          class="w-full h-full object-cover md:hidden" 
          src="../images/sunnyside/mobile/image-photography.jpg" alt="">

          <!-- image for desktop screen  -->
          <img
            class="hidden md:flex w-full" 
            src="../images/sunnyside/desktop/image-photography.jpg" alt="">
        </div>
        
      </div>
    </div>
    

    <!-- testimonials  -->
    <div class="flex flex-col justify-center items-center px-8 py-24">
      <h2 class="text-2xl tracking-widest uppercase text-gray-400" style="font-family: Fraunces;">Client testimonials</h2>
      
      <div class="grid grid-cols-1 md:grid-cols-3 items-center md:gap-3 md:px-5">
        <div class="flex flex-col justify-center items-center">
          <img 
            class="rounded-full w-24 h-24 mt-20"
            src="../images/sunnyside/image-emily.jpg" 
            alt="Emily R">
          <p class="mt-10 text-2xl md:text-base font-semibold text-gray-500 text-center leading-loose">We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
          <h3 
            style="font-family: Fraunces;"
            class="mt-10 text-2xl">
            Emily R.
          </h3>
          <p 
            class="mt-2 text-gray-400 text-lg font-semibold">
            Marketing Director
          </p> 
        </div>
      
        <div class="flex flex-col justify-center items-center">
          <img 
            class="rounded-full w-24 h-24 mt-20"
            src="../images/sunnyside/image-thomas.jpg" 
            alt="Thomas S.">
          <p class="mt-10 text-2xl md:text-base font-semibold text-gray-500 text-center leading-loose">
            Sunnyside’s enthusiasm coupled with their keen interest in our brand’s success made it a satisfying and enjoyable experience.
          </p>
          <h3 
            style="font-family: Fraunces;"
            class="mt-10 text-2xl">
            Thomas S.
          </h3>
          <p 
            class="mt-2 text-gray-400 text-lg font-semibold">
            Chief Operating Officer
          </p> 
        </div>
      
        <div class="flex flex-col justify-center items-center">
          <img 
            class="rounded-full w-24 h-24 mt-20"
            src="../images/sunnyside/image-jennie.jpg" 
            alt="Jennie F">
          <p 
            class="mt-10 text-2xl md:text-base font-semibold text-gray-500 text-center leading-loose">
            We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit.</p>
          <h3 
            style="font-family: Fraunces;"
            class="mt-5 text-2xl">
            Jennieh F.
          </h3>
          <p 
            class="mt-2 text-gray-400 text-lg font-semibold">
            Business Owner
          </p> 
        </div>
      </div>
      
    </div>

    <!-- pictures  -->
    <div class="grid grid-cols-2 gap-0 md:grid-cols-4">
      <div class="w-full"><img class="w-full" src="../images/sunnyside/mobile/image-gallery-milkbottles.jpg" alt=""></div>
      <div class="w-full"><img class="w-full" src="../images/sunnyside/mobile/image-gallery-orange.jpg" alt=""></div>
      <div class="w-full"><img class="w-full" src="../images/sunnyside/mobile/image-gallery-cone.jpg" alt=""></div>
      <div class="w-full"><img class="w-full" src="../images/sunnyside/mobile/image-gallery-sugar-cubes.jpg" alt=""></div>
    </div>

    <!-- footer  -->
    <footer class="text-green-800 bg-green-300 text-center pb-20">
      <h2 class="pt-20 text-5xl font-bold" style="font-family: Fraunces;">sunnyside</h2>
      <div class="grid grid-cols-3 max-w-lg mx-auto justify-items-center items-center mt-20 md:mt-10 text-2xl font-semibold">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Projects</a>
      </div>
      <div class="flex justify-center items-center mt-28 md:mt-10 space-x-10">

        <button class="p-2"><img class="w-8" src="../images/sunnyside/icon-facebook.svg" alt=""></button>
        <button class="p-2"><img class="w-8" src="../images/sunnyside/icon-instagram.svg" alt=""></button>
        <button class="p-2"><img class="w-8" src="../images/sunnyside/icon-twitter.svg" alt=""></button>
        <button class="p-2"><img class="w-8" src="../images/sunnyside/icon-pinterest.svg" alt=""></button>
      </div>
    </footer>
  </div>
   
  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/cssbubble">priyanka</a>.
  </div> 

  <script defer src="https://unpkg.com/alpinejs@3.5.0/dist/cdn.min.js"></script>
</body>
</html>